In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import linear_model
%matplotlib inline

In [20]:
race = pd.read_csv('2018data/2018_fukushima.csv')
race.head()

,Unnamed: 0,レース,芝ダ,距離,天候,馬場,着順,馬番,斤量,単勝,人気,馬体重,増減
0,0,0.0,1,0.333333,0.0,0.0,0.000000,0.823529,0.777778,0.000995,0.000000,0.389381,0.441860
1,1,0.0,1,0.333333,0.0,0.0,0.058824,0.117647,0.777778,0.006194,0.058824,0.460177,0.488372
2,2,0.0,1,0.333333,0.0,0.0,0.117647,0.294118,0.777778,0.007189,0.176471,0.300885,0.581395
3,3,0.0,1,0.333333,0.0,0.0,0.176471,0.470588,0.777778,0.052428,0.529412,0.398230,0.534884
4,4,0.0,1,0.333333,0.0,0.0,0.235294,0.529412,0.555556,0.067249,0.647059,0.362832,0.558140

In [21]:
X = race[["人気","馬番"]]

In [22]:
Y = race[["着順"]]

In [23]:
X.head()

         人気        馬番
0  0.000000  0.823529
1  0.058824  0.117647
2  0.176471  0.294118
3  0.529412  0.470588
4  0.647059  0.529412

In [24]:
Y.head()

         着順
0  0.000000
1  0.058824
2  0.117647
3  0.176471
4  0.235294

In [25]:
import sklearn.model_selection
X_train, X_test, Y_train, Y_test = sklearn.model_selection.train_test_split(X,Y)

In [26]:
X_test.shape

(1758, 2)

In [27]:
X_train.shape

(5273, 2)

In [28]:
X.shape

(7031, 2)

In [29]:
multi_lreg = linear_model.LinearRegression()
multi_lreg.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [30]:
print(multi_lreg.score(X_train,Y_train))

0.36335794873986754

In [31]:
print(multi_lreg.score(X_test,Y_test))

0.35340930969626794

In [32]:
print(multi_lreg.coef_)

[[0.60091117 0.03672058]]